.board {
  display: flex;
  flex-direction: column;
  padding: 8px 12px 0;
  max-height: 100%;
  flex-shrink: 0;
  flex-basis: 272px;
  width: 272px;
  background: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
}

.board:not(:last-child) {
  margin-right: 12px;
}
