.card-list {
  display: flex;
  flex-direction: column;
  margin: 0 -4px 4px;
  padding: 0;
  max-height: 100%;
  list-style: none;
  overflow-y: auto;
}

.card-list:empty {
  margin-bottom: 0;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list__item {
  margin: 4px;
}
