.card {
  margin: 0;
  padding: 8px;
  padding-left: 12px;
  background: #ffffff;
  box-shadow: 0px 1px 4px #092d4240;
  word-wrap: break-word;
  border-radius: 3px;
}

.card--dragging {
  transform: rotate(5deg);
}
