.card-list {
  margin: 4px -4px;
  padding: 0 4px;
  max-height: 100%;
  list-style: none;
  overflow-y: auto;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list__item {
  margin-bottom: 8px;
}

.card-list__item:last-child {
  margin-bottom: 4px;
}