.form__input,
.form__textarea {
  width: 100%;
  display: block;
  padding: 8px 12px;
  font-family: inherit;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 1px 4px #092d4240;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
}

.form__textarea {
  resize: none;
  max-height: 168px;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  box-shadow: 0px 1px 4px #092d4280;
}

.form__input.invalid,
.form__textarea.invalid,
.form__input.invalid:focus,
.form__textarea.invalid:focus {
  box-shadow: inset 0 0 0 2px #e4233fa6, 0px 1px 4px #092d4240;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #b8b9bb;
}