.form__input,
.form__textarea {
  width: 100%;
  display: block;
  padding: 8px 12px;
  font-family: inherit;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
}

.form__textarea {
  resize: none;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  box-shadow: 1px solid #b8b9bb;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #b8b9bb;
}