body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mr-8 {
  margin-right: 8px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 6px 8px 5px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 19px;
  border: 0;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  opacity: 0.85;
}

.btn:active {
  opacity: 0.7;
}

.btn-success {
  font-weight: bold;
  color: #ffffff;
  background-color: #39c071;
}

.btn-ghost {
  color: #6b808c;
  background-color: transparent;
}

.icon {
  display: block;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-plus {
  background-image: url(./assets/icons/plus.svg);
}

.icon-cross {
  background-image: url(./assets/icons/cross.svg);
}
